@import "./../../styles/vars.scss" ;

.result {
	text-align: center;
	h3{
		font-size: 26px ;
		// letter-spacing: 2px;
		color:#973c3c;
		margin-top: 10px;
	}
	p{
		font-size: 16px;
		font-weight: 500;
		text-align: left;
		color: $primary;
		span{
			color: rgb(233, 77, 4);
			font-size: 18px;
		}
	}

	button{
		background: linear-gradient(0deg, $primary 0.03%, $accent);
		border-radius: 10px;
		font-size: 16px;
		color: $bg;
		padding: 10px 40px;
		outline: none;
		border: none;
		margin-top: 15px;
		cursor: pointer;

	}
	table{
		border: 1px solid $foreground;
		margin-top: 10px;
	}
}
